#header {
  text-align: center;
  margin-bottom: 20px;
}

.subtitle {
  font-size: 16px;
  font-style: italic;
  color: #555;
  margin-top: -10px;
  margin-bottom: 10px;
}

.pagination {
  display: inline-flex;
  gap: 10px;
  align-items: center;
  margin-top: 10px;
  justify-content: center;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  margin-bottom: 30px;
}

.chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#sea-level-chart {
  max-width: 800px;
}

#chart-legend {
  max-width: 250px;
}

.footnote {
  text-align: left;
  font-size: 14px;
  font-style: italic;
  color: #666;
  margin-top: 20px;
}

.footnote p {
  margin: 2px 0;
}

.event-circle {
  fill: red;
  cursor: pointer;
  transition: fill 0.2s ease;
}

.event-circle:hover {
  fill: #ff8080;
}

.event-circle.active {
  fill: #b30000;
  stroke: black;
  stroke-width: 1.5px;
}

.annotation-label {
  font-size: 10px;
  font-family: sans-serif;
  max-width: 250px;
  max-height: 200px;
  overflow-y: scroll;
  background-color: rgb(159, 224, 248);
  padding: 6px;
  padding-bottom: 16px;
  border-radius: 6px;
  text-align: left;
  scrollbar-width: thin;
  scrollbar-color: #999 #e0e0e0;
}

.annotation-type {
  font-weight: bold;
  margin-bottom: 2px;
}

.annotation-date {
  margin-bottom: 6px;
  font-size: 9px;
  color: #444;
}

.annotation-event,
.annotation-episode {
  margin-bottom: 4px;
}

.annotation-note-title {
  font-size: small;
  fill: rgb(0, 15, 0);
}

.annotation-note-label {
  font-size: small;
  fill: green;
}
